* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}


.page {
    width: 94%;
    margin: 3% 3%;
}

.page__title {
    font-size: 3em;
    line-height: 41px;
    color: #323F4B;
    margin: 2% 0 3.5% 0;
    font-weight: 600;
    font-family: monospace;
}

.page__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.search {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    margin: 1em 0 1.5em 0;
}

.search__input {
    opacity: 0.7;
    border-radius: 40px;
    width: 66%;
    height: 2.5em;
    padding-left: 0.5em;
}

.search__icon {
    position: absolute;
    top: 0.65em;
    right: 1%;
}

input:focus {
    outline: none;
}


.one-column {
    width: 30%;
}


.one-picture {
    position: relative;
    border-radius: 8px;
    margin-bottom: 1.5em;
}

.one-picture__image {
    width: 100%;
    height: auto;
}

.one-picture__icon {
    border: 0.1em solid #9296ac52;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    position: absolute;
    background:white;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    z-index: 3;
    right: 13%;
    color: #1B3CEA;
}

.one-picture__icon--heart {
    font-size: 1.3em;
    cursor: pointer;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(16px);
    z-index: 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__section {
    color: #1B3CEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__icon {
    font-size: 2em;
    cursor: pointer;
}

.footer__text {
    margin-top: 0.5em;
    font-family: monospace;
}


.details {
    justify-content: center;
    width: 94%;
    margin: 3% 3%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.details__image {
    width: 70%;
    height: auto;
}

.details__icon {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 2em;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@keyframes opacity {
    from {color: white;}
    to {color: rgb(82, 82, 82);}
}

.details__icon:hover {
    animation-name: opacity;
    animation-duration: 0.6s;
}

.details__info {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-left: 1em; 
    justify-content: space-between;
}

.details__info--two-part {
    width: 45%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.details__info--part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details__info--title {
    color: #9AA5B1;
    margin-top: 3em;
    font-size: 1em;
}

.details__info--value {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

@media only screen and (max-width: 851px) {
    .details {
        flex-direction: column;
    }

    .details__info {
        width: 100%;
        margin: 0 0 3em 0; 
    }

    .details__image { 
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 850px) {
    .page__title {
        font-size: 2.5em;
    }
}


@media only screen and (min-width: 401px) and (max-width: 850px) {
    .details__info--two-part {
        flex-direction: row;
        width: 50%;
    }
    .details__info--part {
        width: 50%;
    }
    .details__info--title {
        margin-top: 1.5em;
    }

    .footer {
        height: 4em;
    }
    .footer__icon {
        font-size: 1.5em;
    }
}


@media only screen and (min-width: 401px) and (max-width: 599px) {
    .page__title {
        font-size: 2.2em;
    } 

    .one-column {
        width: 48%;
    }

    .search__input {
        width: 100%;
    }

    .details__info--value {
        font-size: 1.2em;
    }
}


@media only screen and (max-width: 400px) {
    html {
        font-size: 11px;
    }

    .search__input {
        width: 100%;
    }
    .search__icon {
        font-size: 14px;
        right: 2%;
    }

    .page__title {
        font-size: 2.4em;
    } 

    .details__info--two-part {
        flex-direction: column;
        width: 50%;
    }
    .details__info--part {
        width: 100%;
    }
    .details__info--title {
        margin-top: 1.5em;
    }
}


@media only screen and (min-width: 301px) and (max-width: 400px) {
    .one-column {
        width: 48%;
    }
}

@media only screen and (max-width: 300px) {
    .one-column {
        width: 100%;
    }
}